@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&display=swap');

html, body {
    font-size: 16px;
    font-family: "Montserrat";
    background-color: #FAFAFA;
    color: #252B42;
}

h1 {
    font-size: 3.75rem;
    line-height: 80px;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-size: 2.5rem;
    line-height: 57px;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    line-height: 32px;
    font-weight: 700;
}

p {
    color: #737373;
    font-size: 1.25rem;
    line-height: 30px;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.container::after {
    content: "";
    clear: both;
    display: block;
}

/* 
=====================================
    HEADER
=====================================
*/

.header {
    position: absolute;
    width: 100%;
    padding-top: 2.25rem;
    padding-left: 6.25rem;
}

/* 
=====================================
    LOGO
===================================== 
*/

.logo {
    float: left;
    width: 14%;
}

/* 
=====================================
    NAVIGATION
=====================================
*/

.navigation {
    float: left;
    width: 30%;
}

.navigation__list {
    
}

.navigation__list--item {
    display: inline-block;
}

.navigation__list--item a {
    padding: 0 0.625rem;
    color: #737373;
    font-size: 0.875rem;
    line-height: 24px;
    text-decoration: none;
    border-bottom: 0px solid #fff;
}

.navigation__list--item:hover a {
    transition: border-bottom 1s linear, padding-bottom 300ms linear;
    border-bottom: 1px solid #737373;
    padding-bottom: 0.18rem;
}

/* 
=====================================
    BURGER MENU
===================================== 
*/

.burger {
    float: right;
    width: 20px;
    height: 20px;
    border: none;
    margin-right: 6.25rem;
    background-color: transparent;
}

.burger__item {
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 0.25rem;
    background-color: #000;
}

/* 
=====================================
    BLOCK ABOUT
=====================================
*/

.about {
    clear: both;
    padding-top: 7.18rem;
    background-image: url('../img/background-Small.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 2.81rem;

    height: 750px;
}

/* 
=====================================
    DESCRIPTION
=====================================
*/

.description h1 {
    width: 38%;
    text-transform: uppercase;
}

.description p {
    margin-top: 2.18rem;
    margin-bottom: 2.18rem;
    width: 27%;
}

/* buttons */

.description__buttons {
    margin-bottom: 5rem;
    overflow: auto;
}

.description__buttons .btn {
    float: left;
    padding: 0.62rem 2.25rem;
    margin-right: 0.62rem;
    color: #00a0c1;
    font-weight: bold;
    font-size: 0.87rem;
    line-height: 28px;
    text-decoration: none;
    border: 1px solid #00a0c1;
    border-radius: 36px;

    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.description__buttons .btn:hover {
    color: #fff;
    border: 1px solid #FFA62B;

    box-shadow: 0 0 40px 40px #FFA62B inset;
}

/* 
=====================================
    PRODUCT
===================================== 
*/

.product {
    position: absolute;
    overflow: auto;

    padding: 1.56rem 0;
    max-width: 1380px;
}

.product__item {
    float: left;
    width: 31%;
    margin-right: 1.87rem;
    padding: 2.5rem 4.37rem 2.18rem 2.5rem;
    background-color: #fff;
    box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.07);

    cursor: pointer;
}

.product__item:hover {
     background-color: #00A0C1;
    /* color: #fff; */

    transition: all 0.5s linear 0s;
    transform: scale(1.05);
    color: #fff;
}

.product__item:hover p {
    transition: all 0.5s linear 0s;
    color: #fff;
}

.product__item:hover .icon {
    transition: filter 0.1s ease-in 0s;
    filter: brightness(0) invert(1);;
}

/* third element in products */
.product__item:last-child .icon--third {
    margin-bottom: 1.25rem;
}

.product__item:last-child h3 {
    margin-bottom: 1.25rem;
}

.product__item:last-child h3 {
    margin-bottom: 2.18rem;
}

.product__item img {
    max-height: 41px;
    margin-bottom: 0.93rem;
}

.product__item h3 {
    margin: 0 0 0.62rem;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 32px;
}

.product__item p {
    font-size: 0.87rem;
}

/* 
=====================================
    PARAGRAPH
===================================== 
*/

.paragraph {
    padding: 6.25rem 0 5rem;
    max-width: 1440px;
}

.paragraph .title {
    max-width: 470px;
    margin: 0 auto;
    text-align: center;
}

.characteristics {
    padding-top: 12.18rem;
}

.title {
    clear: both;
    padding-bottom: 5.62rem;
}

.title p {
    font-size: 0.87rem;
    line-height: 20px;
    padding-top: 0.62rem;
}


/* 
=====================================
    STATISTIC
===================================== 
*/
.statistic {
    padding-top: 1.87rem;
    padding-bottom: 1.87rem;
    margin-bottom: 1.87rem;
}

.statistic--block {
    float: left;
    background-color: #fff;
    width: 16%;
    text-align: center;
    padding: 1.87rem;
    margin-left: 10%;
}

.statistic--block:first-child {
    margin-left: 5%;
}

.statistic--block p {
    font-size: 1rem;
    line-height: 24px;
}

.statistic::after {
    clear: both;
}

/* 
=====================================
    NEWS_BLOCK
===================================== 
*/

.news--block {
    float: left;
    width: 17%;
    margin-top: 1.25rem;
    margin-left: 6.25rem;
    background-color: #fff;
    padding-bottom: 1.87rem;
}

.news--block p {
    font-size: 0.87rem;
    line-height: 20px;
    padding-bottom: 1.87rem;
}

.news--block .h5 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    color: #252B42;
    padding-bottom: 0.62rem;
}

/* 
=====================================
    VIDEO_BLOCK
===================================== 
*/

.video {
    position: relative;
    float: left;
    padding-top: 0.62rem;
}

.video--cover {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0.62rem;
}

.video--btn {
    position: absolute;
    top: 40%;
    left: 40%;
}

.video::after {
    content: "";
    clear: both;
    display: block;
}

.video--item {
    float: right;
    width: 45%;
}

.video--item h2 {
    width: 400px;
}

.video--item p {
    width: 470px;
    padding-top: 0.62rem;
}

.video--item_block {
    padding-top: 3.75rem;
}

.video--item_block img {
    float: left;
    margin-right: 1.25rem;
}

.video--item_block h5 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
}

.video--item_block p {
    font-size: 0.87rem;
    font-weight: 600;
    line-height: 24px;
    padding-left: 3.12rem;
}

/* 
=====================================
    INVESTORS BLOCK
===================================== 
*/

.investors {
    width: 100%;
}

.investors img:first-child {
    padding-left: 0;
}

.investors img {
    padding-left: 9.37rem;
    padding-top: 3.12rem;
    padding-bottom: 8.75rem;
    vertical-align: middle;
}

/* 
=====================================
    SUBSCRIBE BLOCK
===================================== 
*/

.subscribe {
    background-color: #16697A;
    height: 124px;
    width: 90%;
    margin-left: 1.56rem;
    padding-top: 1.87rem;

    position: relative;
}

.subscribe--title {
    float: left;
    padding-left: 3.12rem;   
    width: 50%;
    height: 60px;
}

.subscribe--title h3 {
    color: #fff;
    font-size: 1.5rem;
    line-height: 32px;
    font-weight: 700;
    width: 260px;
}

.subscribe--form {
    float: right;
    width: 50%;
    height: 60px;
}

.subscribe--form::after {
    content: "";
    clear: both;
    display: block;
}

.subscribe--email {
    width: 450px;
    height: 60px;
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 28px;
    
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #E5E5E5;
}

.subscribe--btn {
    height: 60px;
    width: 120px;
    color: #fff;
    background-color: #FFA62B;

    border: 1px solid #E5E5E5;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    margin-left: -0.25rem;
}

.subscibe__line {
    position: absolute;
    background-color: #252B42;
    height: 80px;
    width: 137%;
    margin-left: -12.125rem;
    margin-top: 2.5rem;
    max-width: 1800px;

    z-index: -1;
}

/* 
=====================================
    CONTACTS BLOCK
===================================== 
*/

.contacts {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 110px;
    margin-bottom: 150px;
}

.contacts::after {
    content: "";
    clear: both;
    display: block;
}

.contacts--item {
    float: left;
    background-color: #fff;
    margin-right: 80px;
    text-align: center;
}

.contacts--item:first-child {
    margin-left: 60px;
}

.contacts--item:last-child {
    margin-right: 0;
}

.contacts--item>p {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

.contacts--icon {
    padding-top: 50px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 15px;
}

/* text above buttons */

.get_support {
    color: #252B42;
    font-size: 16px;
    font-weight: 700;
    margin-top: 15px;
    line-height: 24px;
}

/* icon map */

.map {
    position: relative;
}

.circle {
    position: absolute;
    margin-left: -303px;
    margin-top: 15px;
}

/* buttons */

.contacts--button {
    border: 1px solid #FFA62B;
    border-radius: 5px;
    width: 55%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 50px;

}

.contacts--button>a {
    display: block;
    color: #FFA62B;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;

    padding: 10px 20px;
}

.contacts--item:hover {
    background-color: #252B42;
    transition: all 0.5s linear 0s;
    transform: scaleY(1.2);
}

.contacts--item:hover :nth-child(1n) {
    filter: brightness(0) invert(1);
}

/* contact to us */

.contact__line {
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 80px;
}

.contact__line::after {
    content: "";
    clear: both;
    display: block;
}

.contact__line h3{
    /* float: left; */
    margin-bottom: 10px;
    width: 40%;
}

.contact__line p{
    float: left;
    width: 40%;
}

.btn--contact {
    float: right;

    background-color: #FFA62B;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;

    margin-top: -40px;

    border: 1px solid #FFA62B;
    border-radius: 5px;
}

.btn--contact:hover {
    background-color: #ffa220;
    transition: background-color 0.3s ease-in;
}

.btn--contact a{
    color: #fff;
}
