@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&display=swap');

body {
    font-family: "Montserrat";
    background-color: #FAFAFA;
    color: #252B42;
}

h1 {
    font-size: 60px;
    line-height: 80px;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    line-height: 57px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

p {
    color: #737373;
    font-size: 20px;
    line-height: 30px;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.container::after {
    content: "";
    clear: both;
    display: block;
}

/* 
=====================================
    HEADER
=====================================
*/

.header {
    position: absolute;
    width: 100%;
    padding-top: 36px;
    padding-left: 100px;
}

/* 
=====================================
    LOGO
===================================== 
*/

.logo {
    float: left;
    width: 14%;
}

/* 
=====================================
    NAVIGATION
=====================================
*/

.navigation {
    float: left;
    width: 30%;
}

.navigation__list {
    
}

.navigation__list--item {
    display: inline-block;
}

.navigation__list--item a {
    padding: 0 10px;
    color: #737373;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
}

.navigation__list--item:hover a {
    border-bottom: 1px solid #737373;
}

/* 
=====================================
    BURGER MENU
===================================== 
*/

.burger {
    float: right;
    width: 20px;
    height: 20px;
    border: none;
    margin-right: 100px;
    background-color: transparent;
}

.burger__item {
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 4px;
    background-color: #000;
}

/* 
=====================================
    BLOCK ABOUT
=====================================
*/

.about {
    clear: both;
    padding-top: 115px;
    background-image: url('../img/background-Small.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 45px;

    height: 750px;
}

/* 
=====================================
    DESCRIPTION
=====================================
*/

.description h1 {
    width: 38%;
    text-transform: uppercase;
}

.description p {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 27%;
}

/* buttons */

.description__buttons {
    margin-bottom: 80px;
    overflow: auto;
}

.description__buttons .btn {
    float: left;
    padding: 10px 36px;
    margin-right: 10px;
    color: #00a0c1;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
    border: 1px solid #00a0c1;
    border-radius: 37px;
}

.description__buttons .btn:hover {
    color: #fff;
    background-color: #FFA62B;
    border: 1px solid #FFA62B;
}

/* 
=====================================
    PRODUCT
===================================== 
*/

.product {
    position: absolute;
    overflow: auto;

    padding: 25px 0;
    max-width: 1380px;
}

.product__item {
    float: left;
    width: 31%;
    margin-right: 30px;
    padding: 40px 70px 35px 40px;
    background-color: #fff;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.product__item:hover,
.product__item:hover p {
    background-color: #00A0C1;
    color: #fff;
}

.product__item:hover .icon {
  filter: brightness(0) invert(1);;
}

.product__item:last-child .icon--third {
    margin-bottom: 49px;
}

.product__item img {
    max-height: 41px;
    margin-bottom: 15px;
}

.product__item h3 {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.product__item p {
    font-size: 14px;
}

/* 
=====================================
    PARAGRAPH
===================================== 
*/

.paragraph {
    padding: 100px 0 80px;
    max-width: 1440px;
}

.paragraph .title {
    max-width: 470px;
    margin: 0 auto;
    text-align: center;
}

.characteristics {
    padding-top: 195px;
}

.title {
    clear: both;
    padding-bottom: 90px;
}

.title p {
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
}

.title h2 {
    padding-top: 100px;
}


/* 
=====================================
    STATISTIC
===================================== 
*/
.statistic {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.statistic--block {
    float: left;
    background-color: #fff;
    width: 16%;
    text-align: center;
    padding: 30px;
    margin-left: 10%;
}

.statistic--block:first-child {
    margin-left: 5%;
}

.statistic--block p {
    font-size: 16px;
    line-height: 24px;
}

.statistic::after {
    clear: both;
}

/* 
=====================================
    NEWS_BLOCK
===================================== 
*/

.news--block {
    float: left;
    width: 17%;
    margin-top: 20px;
    margin-left: 100px;
    background-color: #fff;
    padding-bottom: 30px;
}

.news--block p {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 30px;
}

.news--block .h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #252B42;
    padding-bottom: 10px;
}

/* 
=====================================
    VIDEO_BLOCK
===================================== 
*/

.video {
    position: relative;
    float: left;
    padding-top: 10px;
}

.video--cover {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
}

.video--btn {
    position: absolute;
    top: 40%;
    left: 40%;
}

.video::after {
    content: "";
    clear: both;
    display: block;
}

.video--item {
    float: right;
    width: 45%;
}

.video--item h2 {
    width: 400px;
}

.video--item p {
    width: 470px;
    padding-top: 10px;
}

.video--item_block {
    padding-top: 60px;
}

.video--item_block img {
    float: left;
    margin-right: 20px;
}

.video--item_block h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.video--item_block p {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    padding-left: 50px;
}

/* 
=====================================
    INVESTORS BLOCK
===================================== 
*/

.investors {
    width: 100%;
}

.investors img:first-child {
    padding-left: 0;
}

.investors img {
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 140px;
    vertical-align: middle;
}

/* 
=====================================
    SUBSCRIBE BLOCK
===================================== 
*/

.subscribe {
    background-color: #16697A;
    height: 124px;
    width: 90%;
    margin-left: 25px;
    padding-top: 30px;
}

.subscribe--title {
    float: left;
    padding-left: 50px;   
    width: 50%;
    height: 60px;
}

.subscribe--title h3 {
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    width: 260px;
}

.subscribe--form {
    float: right;
    width: 50%;
    height: 60px;
}

.subscribe--form::after {
    content: "";
    clear: both;
    display: block;
}

.subscribe--email {
    width: 450px;
    height: 60px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #E5E5E5;
}

.subscribe--btn {
    height: 60px;
    width: 120px;
    color: #fff;
    background-color: #FFA62B;

    border: 1px solid #E5E5E5;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    margin-left: -4px;
}

