@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&display=swap');

body {
    font-family: "Montserrat";
    max-width: 1440px;
}

h2 {
    color: #252B42;
    font-size: 40px;
}

h3 {
    color: #252B42;
    font-size: 24px;
    font-weight: 700;
}

h4 {
    color: #737373;
    font-size: 20px;
}

p {
    color: #737373;
    font-size: 14px;
}

/* 
=====================================
    FONTS
=====================================
*/

/* @font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regul')
} */

/* 
=====================================
    HEADER
=====================================
*/

.header {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-color: #FAFAFA;
    width: 100%;
    height: 924px;
}

.conteiner_header::after {
    content: "";
    clear: both;
    display: block;
}


/* 
=====================================
    LOGO
===================================== 
*/

.logo {
    float: left;
    width: 106px;
    height: 32px;
}

.logo h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}

/* 
=====================================
    Navigation
=====================================
*/

.navigation {
    display: inline-block;
    float: right;
    width: 280px;
    height: 24px;
}

li {
    display: inline;
}

/* 
=====================================
    Blocks 
=====================================
*/

.blok_information {
    background-color: #fff;
    width: 328px;
    height: 210px;

    padding: 35px 40px;

    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.blok_information>h3 {
   line-height: 32px;
}

.blok_information:last-child {
    background: #00A0C1;
}

.blok_information:last-child>h3,
.blok_information:last-child>p {
    color: #fff;
}

/* 
=====================================
    Buttons
=====================================
*/

.btn {
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
    border-radius: 37px;
    padding: 10px 36px;
}

.get_quote--btn {
    background-color: #FFA62B;
    width: 185px;
    height: 48px;
}

.get_quote--btn a{
    color: #fff;
}

.learn_more--btn {
    height: 48px;
    width: 154px;
    border: 1px solid #00A0C1;
}