@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&display=swap');

/* 
=====================================
    FONTS
=====================================
*/

/* @font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regul')
} */

/* 
=====================================
    HEADER
=====================================
*/

.header {
    background-color: #FAFAFA;
    width: 100%;
    height: 924px;
    max-width: 1440px;
}

.logo {
    width: 106px;
    height: 32px;
}

.logo h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}