@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&display=swap');

body {
    font-family: "Montserrat";
}

h1 {
    color: #252B42;
    font-size: 60px;
    line-height: 80px;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    color: #252B42;
    font-size: 40px;
}

h3 {
    color: #252B42;
    font-size: 24px;
    font-weight: 700;
}

h4 {
    color: #737373;
    font-size: 20px;
    line-height: 30px;
}

p {
    color: #737373;
    font-size: 14px;
    line-height: 20px;
}

/* 
=====================================
    FONTS
=====================================
*/

/* @font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regul')
} */

/* 
=====================================
    Background
=====================================
*/



/* 
=====================================
    HEADER
=====================================
*/

.header {
    position: absolute;
    width: 100%;
}

.conteiner_header {
    padding-top: 20px;
}

.conteiner_header::after {
    content: "";
    clear: both;
    display: block;
}


/* 
=====================================
    LOGO
===================================== 
*/

.logo {
    float: left;
    margin-left: 100px;
    width: 106px;
    height: 32px;
}

/* .logo h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
} */

/* 
=====================================
    Navigation
=====================================
*/

.navigation {
    display: block;
    float: left;
    margin-left: 2%;
    margin-top: 3px;
}

.burger--menu {
    float: right;
    margin-right: 22%;
}

li {
    display: inline;
}

li>a {
    margin-left: 25px;
}

/* 
=====================================
    Main 
=====================================
*/

.conteiner {
    position: absolute;
    left: 10%;
    top: 10%;
    max-width: 1440px;
}

.conteiner h1 {
    display: block;
    margin: 20px 0;
    width: 60%;
}

.conteiner h4 {
    display: block;
    width: 45%;
}

/* 
=====================================
    Blocks 
=====================================
*/

.row {
    position: absolute;
    column-count: 3;
    bottom: 10%;
    max-width: 1440px;
}

.blok_information {
    background-color: #fff;
    padding: 35px 40px;

    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.blok_information>h3 {
   line-height: 32px;
}

.blok_information:last-child {
    background-color: #00A0C1;
}

.blok_information:last-child>h3,
.blok_information:last-child>p {
    color: #fff;
}

/* 
=====================================
    Buttons
=====================================
*/

.btn {
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
    border-radius: 37px;
    padding: 10px 36px;

    float: left;

    margin-top: 40px;
}

.get_quote--btn {
    background-color: #FFA62B;
    width: 185px;
    height: 48px;

    margin-right: 20px;
}

.get_quote--btn a{
    color: #fff;
}

.learn_more--btn {
    height: 48px;
    width: 154px;
    border: 1px solid #00A0C1;
}